<div class="videos" id="videos">
  <div class="container">
    <div class="videos_wrap emerge" data-expose="true">
      <div class="videos_headline">
        <div class="sort-panel">
{#
          <a class="filer-link" href="javascript:void(0);">Новые <span class="filer-counter">+2</span></a>
#}
          <a class="filer-link active" href="#popular">Популярные</a>
          <a class="filer-link" href="#examples">Примеры промороликов</a>
        </div><!-- /.sort-panel -->
        <div class="videos-periods">Переодичность: 2 видео в неделю</div>
      </div><!-- /.videos_headline -->
      <div class="videos-types">
        <div class="videos-list" id="popular">
          <div class="mini-video">
            <a href="https://www.youtube.com/watch?v=9GmzCAZSii8" class="video-link youtube-link"><div class="mini-video_box">
              <div class="mini-video_preview">
                <div class="mini-video_preview-box">
                  <img src="https://img.youtube.com/vi/9GmzCAZSii8/mqdefault.jpg" alt="ГУБКА БОБ в McDonald's (ПРАНК МакАвто)">
                </div><!-- /.video_preview-box -->
                <div class="mini-video_preview-bg">
                  <div class="mini-video_play">
                    <div class="play-icon">
                      <span><i class="icon icon-play-in-circle"></i></span>
                    </div><!-- /.play-icon -->
                  </div><!-- /.mini-video_play -->
                </div><!-- /.mini-video_preview-bg -->
              </div><!-- /.mini-video_preview -->
              <div class="mini-video_info">
                <div class="mini-video_name"><h4 class="h4">ГУБКА БОБ в McDonald's (ПРАНК МакАвто)</h4></div><!-- /.mini-video_name -->
                <div class="mini-video_meta">
                  <div class="views">
                    <div class="info">
                      <div class="info_ico"><i class="icon icon-eye" aria-label="Просмотры"></i></div>
                      <div class="info_text">3 327 036</div>
                    </div><!-- /.info -->
                  </div>
                  <div class="date"><span>30 октября, 2017</span></div>
                </div><!-- /.mini-video_meta -->
              </div><!-- /.mini-video_info -->
            </div></a><!-- /.mini-video_box -->
          </div><!-- /.mini-video -->

          <div class="mini-video">
            <a href="https://www.youtube.com/watch?v=XjjW4EpmZKE" class="video-link youtube-link"><div class="mini-video_box">
              <div class="mini-video_preview">
                <div class="mini-video_preview-box">
                  <img src="https://img.youtube.com/vi/XjjW4EpmZKE/mqdefault.jpg" alt="ДИСС на FACE от Мультяшек (Губка Боб x Рик и Морти)">
                </div><!-- /.video_preview-box -->
                <div class="mini-video_preview-bg">
                  <div class="mini-video_play">
                    <div class="play-icon">
                      <span><i class="icon icon-play-in-circle"></i></span>
                    </div><!-- /.play-icon -->
                  </div><!-- /.mini-video_play -->
                </div><!-- /.mini-video_preview-bg -->
              </div><!-- /.mini-video_preview -->
              <div class="mini-video_info">
                <div class="mini-video_name"><h4 class="h4">ДИСС на FACE от Мультяшек (Губка Боб x Рик и Морти)</h4></div><!-- /.mini-video_name -->
                <div class="mini-video_meta">
                  <div class="views">
                    <div class="info">
                      <div class="info_ico"><i class="icon icon-eye" aria-label="Просмотры"></i></div>
                      <div class="info_text">3 578 487</div>
                    </div><!-- /.info -->
                  </div>
                  <div class="date"><span>25 октября, 2017</span></div>
                </div><!-- /.mini-video_meta -->
              </div><!-- /.mini-video_info -->
            </div></a><!-- /.mini-video_box -->
          </div><!-- /.mini-video -->

          <div class="mini-video">
            <a href="https://www.youtube.com/watch?v=F7BIgwvUcfc" class="video-link youtube-link"><div class="mini-video_box">
              <div class="mini-video_preview">
                <div class="mini-video_preview-box">
                  <img src="https://img.youtube.com/vi/F7BIgwvUcfc/mqdefault.jpg" alt="СПАРОДИРОВАЛИ 15 РЭПЕРОВ ЗА 2 МИНУТЫ">
                </div><!-- /.video_preview-box -->
                <div class="mini-video_preview-bg">
                  <div class="mini-video_play">
                    <div class="play-icon">
                      <span><i class="icon icon-play-in-circle"></i></span>
                    </div><!-- /.play-icon -->
                  </div><!-- /.mini-video_play -->
                </div><!-- /.mini-video_preview-bg -->
              </div><!-- /.mini-video_preview -->
              <div class="mini-video_info">
                <div class="mini-video_name"><h4 class="h4">СПАРОДИРОВАЛИ 15 РЭПЕРОВ ЗА 2 МИНУТЫ СПАРОДИРОВАЛИ 15 РЭПЕРОВ ЗА 2 МИНУТЫ СПАРОДИРОВАЛИ 15 РЭПЕРОВ ЗА 2 МИНУТЫ СПАРОДИРОВАЛИ 15 РЭПЕРОВ ЗА 2 МИНУТЫ</h4></div><!-- /.mini-video_name -->
                <div class="mini-video_meta">
                  <div class="views">
                    <div class="info">
                      <div class="info_ico"><i class="icon icon-eye" aria-label="Просмотры"></i></div>
                      <div class="info_text">3 578 487</div>
                    </div><!-- /.info -->
                  </div>
                  <div class="date"><span>25 октября, 2017</span></div>
                </div><!-- /.mini-video_meta -->
              </div><!-- /.mini-video_info -->
            </div></a><!-- /.mini-video_box -->
          </div><!-- /.mini-video -->

          <div class="mini-video">
            <a href="https://www.youtube.com/watch?v=q0vHBcVJ2uY" class="video-link youtube-link"><div class="mini-video_box">
              <div class="mini-video_preview">
                <div class="mini-video_preview-box">
                  <img src="https://img.youtube.com/vi/q0vHBcVJ2uY/mqdefault.jpg" alt="РОЗОВОЕ ВИНО Голосами Мультяшек (Элджей & Feduk)">
                </div><!-- /.video_preview-box -->
                <div class="mini-video_preview-bg">
                  <div class="mini-video_play">
                    <div class="play-icon">
                      <span><i class="icon icon-play-in-circle"></i></span>
                    </div><!-- /.play-icon -->
                  </div><!-- /.mini-video_play -->
                </div><!-- /.mini-video_preview-bg -->
              </div><!-- /.mini-video_preview -->
              <div class="mini-video_info">
                <div class="mini-video_name"><h4 class="h4">РОЗОВОЕ ВИНО Голосами Мультяшек (Элджей & Feduk)</h4></div><!-- /.mini-video_name -->
                <div class="mini-video_meta">
                  <div class="views">
                    <div class="info">
                      <div class="info_ico"><i class="icon icon-eye" aria-label="Просмотры"></i></div>
                      <div class="info_text">3 578 487</div>
                    </div><!-- /.info -->
                  </div>
                  <div class="date"><span>25 октября, 2017</span></div>
                </div><!-- /.mini-video_meta -->
              </div><!-- /.mini-video_info -->
            </div></a><!-- /.mini-video_box -->
          </div><!-- /.mini-video -->

          <div class="mini-video">
            <a href="https://www.youtube.com/watch?v=DuRqUJKWH-A" class="video-link youtube-link"><div class="mini-video_box">
              <div class="mini-video_preview">
                <div class="mini-video_preview-box">
                  <img src="https://img.youtube.com/vi/DuRqUJKWH-A/mqdefault.jpg" alt="ЛАМБАДА ПАРОДИЯ x Почему Скриптонит Невнятно Читает?">
                </div><!-- /.video_preview-box -->
                <div class="mini-video_preview-bg">
                  <div class="mini-video_play">
                    <div class="play-icon">
                      <span><i class="icon icon-play-in-circle"></i></span>
                    </div><!-- /.play-icon -->
                  </div><!-- /.mini-video_play -->
                </div><!-- /.mini-video_preview-bg -->
              </div><!-- /.mini-video_preview -->
              <div class="mini-video_info">
                <div class="mini-video_name"><h4 class="h4">ЛАМБАДА ПАРОДИЯ x Почему Скриптонит Невнятно Читает?</h4></div><!-- /.mini-video_name -->
                <div class="mini-video_meta">
                  <div class="views">
                    <div class="info">
                      <div class="info_ico"><i class="icon icon-eye" aria-label="Просмотры"></i></div>
                      <div class="info_text">3 578 487</div>
                    </div><!-- /.info -->
                  </div>
                  <div class="date"><span>25 октября, 2017</span></div>
                </div><!-- /.mini-video_meta -->
              </div><!-- /.mini-video_info -->
            </div></a><!-- /.mini-video_box -->
          </div><!-- /.mini-video -->
        </div><!-- /.videos-list -->
        <div class="videos-list" id="examples"></div>
        <!-- /.videos-list -->
      </div><!-- /.videos-types -->
    </div>
  </div>
</div>
