<div class="videos">
  <div class="container">
    <div class="videos_wrap">
      <div class="videos_headline">
        <div class="sort-panel">
          <a class="filer-link" href="javascript:void(0);">Свежее <span class="filer-counter">+2</span></a>
          <a class="filer-link active" href="javascript:void(0);">Популярные</a>
          <a class="filer-link" href="javascript:void(0);">Новые</a>
          <a class="filer-link" href="javascript:void(0);">Примеры промороликов</a>
        </div><!-- /.sort-panel -->
        <div class="videos-periods">Переодичность: 2 видео в неделю</div>
      </div><!-- /.videos_headline -->
      <div class="videos-list">
        <div class="mini-video">
          <div class="mini-video_box">
            <div class="mini-video_preview"></div><!-- /.mini-video_preview -->
            <div class="mini-video_info">
              <div class="mini-video_name"></div><!-- /.mini-video_name -->
              <div class="mini-video_meta"></div><!-- /.mini-video_meta -->
            </div><!-- /.mini-video_info -->
          </div><!-- /.mini-video_box -->
        </div><!-- /.mini-video -->
      </div><!-- /.videos-list -->
    </div>
  </div>
</div>
