.footer {
  background-color: rgb(38, 45, 48);
  transition: all .2s ease;
  width: 100%;

  &_company {
    padding-top: 38px;
    padding-bottom: 30px;

    &-box {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &_copy {
    border-top: 1px solid rgb(53, 62, 66);

    &-box {
      height: 60px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      position: relative;
    }

    .copy-text {
      color: rgb(88, 116, 129);
      font-family: Arial;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
    }
  }

  .likely {
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 15px;
  }
}

.payment-options {
  display: flex;
  align-items: center;
  align-content: center;

  &_item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  &_type {
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}

.footer-cards {
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  padding-bottom: 10px;
}

.footer-card {
  font-family: $GeneralFontFamily;
  flex: 1 33%;
  border: 1px solid rgb(53, 62, 66);
  border-radius: 3px;
  margin-right: 20px;

  &--confirm {
    background-color: #313436;
    border-color: #313436;
    color: #fff;

    .icon-verified {
      top: 3px;
      margin-left: 2px;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &-box {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 20px 20px;
    height: 100%;
  }

  &_content {
    color: #61737f;

    p:last-child {
      margin-bottom: 0;
    }

    a {
      color: rgba(255, 255, 255, .5);

      &:hover {
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
      }
    }
  }

  &_header {
    margin-top: auto;

    .h3 {
      margin: 0 0 10px 0;
      color: #fff;
      font-family: Arial;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  &_footer {
    padding-top: 20px;
    margin-top: auto;
  }
}
