<header class="header _header">
  <div class="container-fluid">
    <div class="header_wrapper">
      <div class="channel-passport emerge" data-effect="slide" data-down="5px">
        <div class="channel-passport_avka">
          <div class="avka-img"><img src="https://yt3.ggpht.com/-HzlTfgPLl6U/AAAAAAAAAAI/AAAAAAAAAAA/2aFSThc1OMM/s288-mo-c-c0xffffffff-rj-k-no/photo.jpg" alt=""></div><!-- /.avka-img -->
        </div><!-- /.channel-passport_avka -->
        <div class="channel-passport_info">
          <div class="channel-passport_name">ДНЕВНИК ХАЧА <div class="channel-passport_check"><i class="icon icon-verified"></i></div></div><!-- /.channel-passport_name -->
          <div class="channel-passport_category">Категория: <span>Другое</span></div><!-- /.channel-passport_category -->
        </div><!-- /.channel-passport_info -->
      </div><!-- /.channel-header -->
      <div class="header-menu emerge" data-effect="slide" data-down="5px">
        <ul class="header_nav" id="top-menu">
          <li class="header_nav_item active"><a href="#description" class="header_nav-link"><span>О канале</span></a></li>
          <li class="header_nav_item"><a href="#statistics" class="header_nav-link"><span>Статистика</span></a></li>
          <li class="header_nav_item"><a href="#formats" class="header_nav-link"><span>Цены и форматы</span></a></li>
          <li class="header_nav_item"><a href="#videos" class="header_nav-link"><span>Видео</span></a></li>
          <li class="header_nav_item"><a href="#graphics" class="header_nav-link"><span>Параметры</span></a></li>
        </ul>
      </div><!-- /.header-menu -->
      <div class="header_aside emerge" data-effect="slide" data-down="20px">
{#
        % if (user && user->isa('App::Model::User')) {
        <div class="header-nav__section">
          <div class="header-nav__section_text">
            <%= user->name || user->email %>
            <span class="header-nav__avatar" style="background-image: url(%= gravatar_image s => 40, only_url => 1)"></span>
          </div>
        </div>
        <a href="<%= url_for 'tickets' %>" class="header-nav__section <%== (location =~ m/^tickets/) ? 'header-nav__section_active' : ''; %>">
            <span class="header-nav__section_text">
              <svg width="24" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 18"><path fill="currentColor" fill-rule="evenodd" d="M2 0h20c1.1 0 2 .901 2 2v14c0 1.099-.901 2-2 2H2c-1.099 0-2-.9-2-2V2C0 .899.9 0 2 0zm10 10.586L20.586 2H3.414L12 10.586zM2 3.414v11.173L7.586 9 2 3.414zm1.414 12.587h17.172L15 10.414l-2.293 2.293a.999.999 0 0 1-1.414 0L9 10.414l-5.586 5.587zM22 14.587V3.414L16.414 9 22 14.587z"></path></svg>
            </span>
        </a>
        <div class="header-nav__section">
            <span class="header-nav__section_text header-nav__section_amount">
              <%== money user->money, 'int' => 1, 'floor' => 1 %>
            </span>
        </div>
        % }
#}
        <div class="header_nav--hamburger">
          <div class="hamburger-wrap _nav-hamburger">
            <div class="hamburger">
              <div class="hamburger_l"></div>
              <div class="hamburger_l"></div>
              <div class="hamburger_l"></div>
            </div><!-- /.hamburger -->
          </div><!-- /.hamburger-wrap -->
        </div><!-- /.header_nav--hamburger -->
      </div><!-- /.header_aside -->
    </div><!-- /.header_wrapper -->
  </div><!-- /.container-fluid -->
</header>
