<header class="header _header">
  <div class="container-fluid">
    <div class="header_wrapper">
      <div class="channel-passport emerge" data-effect="slide" data-down="5px">
        <div class="channel-passport_avka">
          <div class="avka-img"><img src="https://yt3.ggpht.com/-HzlTfgPLl6U/AAAAAAAAAAI/AAAAAAAAAAA/2aFSThc1OMM/s288-mo-c-c0xffffffff-rj-k-no/photo.jpg" alt=""></div><!-- /.avka-img -->
        </div><!-- /.channel-passport_avka -->
        <div class="channel-passport_info">
          <div class="channel-passport_name">ДНЕВНИК ХАЧА</div><!-- /.channel-passport_name -->
          <div class="channel-passport_category">Категория: <span>Другое</span></div><!-- /.channel-passport_category -->
        </div><!-- /.channel-passport_info -->
      </div><!-- /.channel-header -->
      <div class="header-menu emerge" data-effect="slide" data-down="5px">
        <ul class="header_nav" id="top-menu">
          <li class="header_nav_item active"><a href="#description" class="header_nav-link"><span>О канале</span></a></li>
          <li class="header_nav_item"><a href="#statistics" class="header_nav-link"><span>Статистика</span></a></li>
          <li class="header_nav_item"><a href="#formats" class="header_nav-link"><span>Цены и форматы</span></a></li>
          <li class="header_nav_item"><a href="#videos" class="header_nav-link"><span>Видео</span></a></li>
          <li class="header_nav_item"><a href="#graphics" class="header_nav-link"><span>Параметры</span></a></li>
        </ul>
      </div><!-- /.header-menu -->
      <div class="header_aside emerge" data-effect="slide" data-down="20px">
        <div class="header_nav--hamburger">
          <div class="hamburger-wrap _nav-hamburger">
            <div class="hamburger">
              <div class="hamburger_l"></div>
              <div class="hamburger_l"></div>
              <div class="hamburger_l"></div>
            </div><!-- /.hamburger -->
          </div><!-- /.hamburger-wrap -->
        </div><!-- /.header_nav--hamburger -->
      </div><!-- /.header_aside -->
    </div><!-- /.header_wrapper -->
  </div><!-- /.container-fluid -->
</header>
