<header class="header _header">
  <div class="container-fluid">
    <div class="header_wrapper">
      <div class="channel-passport">
        <div class="channel-passport_avka">
          <div class="avka-img"><img src="https://yt3.ggpht.com/-HzlTfgPLl6U/AAAAAAAAAAI/AAAAAAAAAAA/2aFSThc1OMM/s288-mo-c-c0xffffffff-rj-k-no/photo.jpg" alt=""></div><!-- /.avka-img -->
        </div><!-- /.channel-passport_avka -->
        <div class="channel-passport_info">
          <div class="channel-passport_name">ДНЕВНИК ХАЧА</div><!-- /.channel-passport_name -->
          <div class="channel-passport_category">Категория: <span>Другое</span></div><!-- /.channel-passport_category -->
        </div><!-- /.channel-passport_info -->
      </div><!-- /.channel-header -->
      <div class="header-menu">
        <ul class="header_nav" id="top-menu">
          <li class="header_nav_item active"><a href="#" class="header_nav-link"><span>О канале</span></a></li>
          <li class="header_nav_item"><a href="#statistics" class="header_nav-link"><span>Статистика</span></a></li>
          <li class="header_nav_item"><a href="#how" class="header_nav-link"><span>Видео</span></a></li>
          <li class="header_nav_item"><a href="#pricing" class="header_nav-link"><span>Цены</span></a></li>
          <li class="header_nav_item"><a href="#other" class="header_nav-link"><span>Описание</span></a></li>
        </ul>
      </div><!-- /.header-menu -->
    </div><!-- /.header_wrapper -->
  </div><!-- /.container-fluid -->
</header>
