@media #{$sm} {
  .formats_list-edit,
  .edit-video-list,
  .formats_list-edit_help,
  .header-nav__section {
    display: none;
    visibility: hidden;
  }

  // шапка
  .header {

    .container-fluid {
      padding-right: 0;
    }

    &_wrapper {
      padding: 0 0 0 5px;
    }

    &_nav {
      display: none;
      visibility: hidden;
    }

    .header_aside .btn {
      display: none;
      visibility: hidden;
    }

    .header_nav--hamburger {
      display: flex;
      visibility: visible;
    }

    &.open {
      height: auto;

      .header_wrapper {
        padding: 10px 5px 5px 5px;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
      }

      .header-menu {
        margin-left: 0;
        width: 100%;
        padding-right: 10px;
      }

      .logo {
        position: absolute;
        left: 15px;
        top: 14px;
      }

      .header_aside {
        position: absolute;
        top: 0;
        right: 0;
      }

      .header_nav_item.active {

        .header_nav-link span {
          color: #fa0;
        }
      }

      .header_nav {
        display: block;
        visibility: visible;
        width: 100%;

        &.header_nav--search {
          display: none;
          visibility: hidden;
        }
      }

      .header_nav-link {
        padding: 5px 0;
        display: block;
        width: 100%;
        height: auto;
      }

      .header_nav-link span:after {
        height: 1px;
      }

      .search-form--open .search-form_wrapper {
        min-width: 100%;
      }

      .hamburger {

        .hamburger_l {
          animation: pulse 1.8s tocross;
          background-color: #ffffff;

          &:nth-child(1) {
            transform: translate(0px, 8px) rotate(45deg);
          }

          &:nth-child(2) {
            background-color: #262d30;
            opacity: 0;
            transform: translate(0px, 0px);
          }

          &:nth-child(3) {
            transform: translate(0px, -8px) rotate(-45deg);
          }
        }
      }
    }
  }

  // общий контейнер
  .container {
    width: 100%;
    max-width: 100%;
  }

  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .channel-cover {
    height: 120px;
    background-position: 50% 50%;
  }

  // описание канала
  .description {

    &_wrap {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 15px;

      .h1 {
        margin-top: 0;
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 15px;
        padding-bottom: 0;
      }
    }

    &_content {
      flex-direction: column;
      padding-top: 0;
    }

    &_header {
      flex-basis: 100%;
    }
  }

  // статистика по каналу
  .statistics {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    &_wrap {
      flex-direction: column;
    }

    .big-video {
      width: 100%;

      &_wrap {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }

    .channel-counters {
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      padding: 0;

      &_header {
        position: relative;
        top: 0;
        left: 0;
        flex-basis: 100%;
        transform: rotate(0deg);
        width: 100%;
        height: auto;
        padding: 15px 15px 15px 15px;
        margin-bottom: 15px;
      }
    }

    .channel-counter {
      background-color: #fff;
      border-radius: 3px;
      padding: 10px;
      flex-basis: 50%;
      margin-bottom: 20px;
      margin-right: 5px;

      &_value {
        line-height: 25px;
        font-size: 25px;

        span {
          font-size: 15px;
        }
      }

      &_text {
        font-size: 15px;
        line-height: 15px;
      }
    }
  }

  // форматы и стоимость

  .formats {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    &_headline {
      padding-bottom: 10px;

      .h2 {
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 5px;
      }

      p:last-child {
        margin-bottom: 0;
      }

      p {
        width: 100%;
      }
    }

    &_list {
      padding-top: 5px;
      padding-bottom: 0;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .format {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 15px;

      &.format--big {
        transform: scale(1.03);
      }

      &:last-child { margin-bottom: 0; }
    }
  }

  // подвал
  .videos {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    &_headline {
      flex-direction: column;
      margin-bottom: 5px;
      align-items: flex-start;
    }

    &-periods {
      display: none;
      visibility: hidden;
    }

    .videos-list {
      padding-top: 5px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    .mini-video {
      margin-bottom: 20px;
      flex-basis: 100%;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .videos-types {
      padding-top: 5px;
    }
  }

  // подвал
  .footer {
    height: auto;

    &_company {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;

      &-box {
        flex-direction: column;
        flex-wrap: wrap;
      }
    }

    &_public {

      .social-box {
        left: 0;

        .social_item {
          margin-right: 15px;
        }
      }
    }

    &_copy {
      height: auto;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 1px;

      &-box {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
      }

      .copy-text {
        padding-bottom: 10px;
      }
    }

    .payment-options {

      &_item {
        margin-right: 15px;
      }
    }

    .footer-cards {
      width: 100%;
      padding-bottom: 0;
      flex-direction: column;
    }

    .footer-card {
      margin-right: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .graphics {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .audience {
    width: 320px;

    .audience_tree_age,
    .audience_header_devider {
      flex-basis: 70px;
      min-width: 70px;
    }

    .audience_tree {
      margin-bottom: 15px;
    }

    .audience_item {
      width: 400px;
    }

    .audience_percent {
      flex-basis: 49px;
      font-size: 15px;
      line-height: 15px;
    }

    .audience_header .h3 {
      font-size: 15px;
      line-height: 15px;
    }

    .audience_header {

      .audience_percent {
        flex-basis: 44px;
      }
    }
  }

  .another {
    padding: 15px;

    .channel-info_text {
      margin-right: 15px;
    }

    .another_list {
      flex-wrap: wrap;
    }

    .another_item {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 15px;

      &:last-child { margin-bottom: 0; }
    }
  }
}
