<script>
  var period = [,,,,,,,,,,,,,,,,,,,,,,Date.UTC(2017, 11, 5),Date.UTC(2017, 11, 12),Date.UTC(2017, 11, 19),,,,,,,,,,,,,,,,,];


  var views = [
[Date.UTC(2017, 4, 1),937841258],
[Date.UTC(2017, 4, 2),937841258],
[Date.UTC(2017, 4, 9),997624745],
[Date.UTC(2017, 4, 16),1064997450],
[Date.UTC(2017, 4, 23),1120494069],
[Date.UTC(2017, 4, 30),1173267836],
[Date.UTC(2017, 5, 7),1233146796],
[Date.UTC(2017, 5, 14),1312391405],
[Date.UTC(2017, 5, 21),1401042133],
[Date.UTC(2017, 5, 28),1523662357],
[Date.UTC(2017, 6, 4),1613359664],
[Date.UTC(2017, 6, 11),1724651715],
[Date.UTC(2017, 6, 18),1829603267],
[Date.UTC(2017, 6, 25),1903283046],
[Date.UTC(2017, 7, 2),1973071806],
[Date.UTC(2017, 7, 9),2078956128],
[Date.UTC(2017, 7, 16),2147483647],
[Date.UTC(2017, 7, 23),2147483647],
[Date.UTC(2017, 7, 30),2147483647],
[Date.UTC(2017, 8, 6),2147483647],
[Date.UTC(2017, 8, 13),2147483647],
[Date.UTC(2017, 8, 20),2147483647],
[Date.UTC(2017, 8, 27),2147483647],
[Date.UTC(2017, 9, 3),2147483647],
[Date.UTC(2017, 9, 10),2147483647],
[Date.UTC(2017, 9, 17),2147483647],
[Date.UTC(2017, 9, 24),2147483647],
[Date.UTC(2017, 10, 1),2147483647],
[Date.UTC(2017, 10, 8),2147483647],
[Date.UTC(2017, 10, 15),2147483647],
[Date.UTC(2017, 10, 22),2147483647],
[Date.UTC(2017, 10, 29),2147483647],
2147483647],
2147483647],
2147483647],
[Date.UTC(2017, 11, 26),2147483647],
[Date.UTC(2017, 12, 3),2147483647],
[Date.UTC(2017, 12, 10),2060002320],
[Date.UTC(2017, 12, 17),2009350064],
[Date.UTC(2017, 12, 24),2005706914],
[Date.UTC(2017, 12, 31),2039435797],
[Date.UTC(2017, 1, 7),2069943392],
[Date.UTC(2017, 1, 14),2093272691],
[Date.UTC(2017, 1, 21),2119301997],
[Date.UTC(2017, 1, 28),2146798090],
[Date.UTC(2017, 2, 4),2147483647],
[Date.UTC(2017, 2, 11),2147483647],
[Date.UTC(2017, 2, 18),2147483647],
[Date.UTC(2017, 2, 25),2147483647],
[Date.UTC(2017, 3, 4),2147483647],
[Date.UTC(2017, 3, 11),2147483647],
[Date.UTC(2017, 3, 18),2147483647]
];
  var subscribers = [1166568,1171882,1222910,1310003,1367235,1430680,1489837,1600425,1732243,1906731,2040094,2204300,2328876,2395041,2500254,2639632,2741243,2844838,2954342,3042888,3153176,3275771,3439661,3694286,3822091,3970476,4115146,4264963,4389270,4567623,4730818,4887669,5200271,5570398,5818980,6051575,6096260,6122222,6234406,6470902,6684654,6920308,7058541,7205643,7393244,7600939,7694805,7797827,7919632,8055616,8349326,8841467];
</script>

<div class="graphics" id="graphics">
  <div class="container">
    <div class="graphics_wrap">
      <div class="graphics_content">
        <div class="audience">
          <div class="audience_header">
            <div class="audience_header_woman">
              <div class="audience_name"><h3 class="h3">Женщины</h3></div>
              <div class="audience_percent">51%</div>
            </div><!-- /.audience_header_woman -->
            <div class="audience_header_devider"></div><!-- /.audience_header_devider -->
            <div class="audience_header_man">
              <div class="audience_percent">49%</div>
              <div class="audience_name"><h3 class="h3">Мужчины</h3></div>
            </div><!-- /.audience_header_men -->
          </div>
          <div class="audience_tree">
            <div class="audience_tree_woman">
              <div class="audience_item">
                <div class="audience_bar"><div class="audience_bar-line" style="width: 3%;"></div></div><!-- /.audience_line -->
                <div class="audience_percent">3%</div><!-- /.audience_percent -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_bar"><div class="audience_bar-line" style="width: 23%;"></div></div><!-- /.audience_line -->
                <div class="audience_percent">23%</div><!-- /.audience_percent -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_bar"><div class="audience_bar-line" style="width: 17%;"></div></div><!-- /.audience_line -->
                <div class="audience_percent">17%</div><!-- /.audience_percent -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_bar"><div class="audience_bar-line" style="width: 3%;"></div></div><!-- /.audience_line -->
                <div class="audience_percent">3%</div><!-- /.audience_percent -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_bar"><div class="audience_bar-line" style="width: 4%;"></div></div><!-- /.audience_line -->
                <div class="audience_percent">4%</div><!-- /.audience_percent -->
              </div><!-- /.audience_item -->
            </div>
            <div class="audience_tree_age">
              <div class="audience_age">
                <div class="audience_age_item">0 - 17</div><!-- /.audience_age_item -->
                <div class="audience_age_item">18 - 24</div><!-- /.audience_age_item -->
                <div class="audience_age_item">25 - 34</div><!-- /.audience_age_item -->
                <div class="audience_age_item">35 - 44</div><!-- /.audience_age_item -->
                <div class="audience_age_item">> 45</div><!-- /.audience_age_item -->
              </div>
            </div>
            <div class="audience_tree_man">
              <div class="audience_item">
                <div class="audience_percent">6%</div><!-- /.audience_percent -->
                <div class="audience_bar"><div class="audience_bar-line" style="width: 6%;"></div></div><!-- /.audience_line -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_percent">20%</div><!-- /.audience_percent -->
                <div class="audience_bar"><div class="audience_bar-line" style="width: 20%;"></div></div><!-- /.audience_line -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_percent">20%</div><!-- /.audience_percent -->
                <div class="audience_bar"><div class="audience_bar-line" style="width: 20%;"></div></div><!-- /.audience_line -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_percent">2%</div><!-- /.audience_percent -->
                <div class="audience_bar"><div class="audience_bar-line" style="width: 2%;"></div></div><!-- /.audience_line -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_percent">4%</div><!-- /.audience_percent -->
                <div class="audience_bar"><div class="audience_bar-line" style="width: 4%;"></div></div><!-- /.audience_line -->
              </div><!-- /.audience_item -->
            </div>
          </div>
        </div>
      </div><!-- /.graphics_content -->
      <div class="graphics_headline">
        <h3 class="h3">Рост подписчиков</h3>
      </div><!-- /.graphics_headline -->
      <div class="graphics_content">
        <div class="graphic" id="channel-subscribers"></div>
      </div><!-- /.graphics_content -->
      <div class="graphics_headline">
        <h3 class="h3">Сумма просмотров видео</h3>
      </div><!-- /.graphics_headline -->
      <div class="graphics_content">
        <div class="graphic" id="channel-views"></div>
      </div><!-- /.graphics_content -->
      <div class="graphics_headline">
        <h3 class="h3">Если данных для графика вдруг нет</h3>
      </div><!-- /.graphics_headline -->
      <div class="graphics_content">
        <div class="graphic graphic--error">
          <span class="graphic-text">Данных пока нет, но скоро будут</span>
        </div>
      </div><!-- /.graphics_content -->
    </div><!-- /.graphics_wrap -->
  </div><!-- /.container -->
</div><!-- /.graphics -->
