<script>
  var categories = ["01.04.2017","02.04.2017","09.04.2017","16.04.2017","23.04.2017","30.04.2017","07.05.2017","14.05.2017","21.05.2017","28.05.2017","04.06.2017","11.06.2017","18.06.2017","25.06.2017","02.07.2017","09.07.2017","16.07.2017","23.07.2017","30.07.2017","06.08.2017","13.08.2017","20.08.2017","27.08.2017","03.09.2017","10.09.2017","17.09.2017","24.09.2017","01.10.2017","08.10.2017","15.10.2017","22.10.2017","29.10.2017","05.11.2017","12.11.2017","19.11.2017","26.11.2017","03.12.2017","10.12.2017","17.12.2017","24.12.2017","31.12.2017","07.01.2018","14.01.2018","21.01.2018","28.01.2018","04.02.2018","11.02.2018","18.02.2018","25.02.2018","04.03.2018","11.03.2018","18.03.2018"];
  var views = [937841258,937841258,997624745,1064997450,1120494069,1173267836,1233146796,1312391405,1401042133,1523662357,1613359664,1724651715,1829603267,1903283046,1973071806,2078956128,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2060002320,2009350064,2005706914,2039435797,2069943392,2093272691,2119301997,2146798090,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647,2147483647];
  var subscribers = [1166568,1171882,1222910,1310003,1367235,1430680,1489837,1600425,1732243,1906731,2040094,2204300,2328876,2395041,2500254,2639632,2741243,2844838,2954342,3042888,3153176,3275771,3439661,3694286,3822091,3970476,4115146,4264963,4389270,4567623,4730818,4887669,5200271,5570398,5818980,6051575,6096260,6122222,6234406,6470902,6684654,6920308,7058541,7205643,7393244,7600939,7694805,7797827,7919632,8055616,8349326,8841467];
</script>


<div class="graphics" id="graphics">
  <div class="container">
    <div class="graphics_wrap">
      <div class="graphics_content">
        <div class="audience">
          <div class="audience_header">
            <div class="audience_header_woman">
              <div class="audience_name"><h3 class="h3">Женщины</h3></div>
              <div class="audience_percent">51%</div>
            </div><!-- /.audience_header_woman -->
            <div class="audience_header_devider"></div><!-- /.audience_header_devider -->
            <div class="audience_header_man">
              <div class="audience_percent">49%</div>
              <div class="audience_name"><h3 class="h3">Мужчины</h3></div>
            </div><!-- /.audience_header_men -->
          </div>
          <div class="audience_tree">
            <div class="audience_tree_woman">
              <div class="audience_item">
                <div class="audience_bar"><div class="audience_bar-line" style="width: 3%;"></div></div><!-- /.audience_line -->
                <div class="audience_percent">3%</div><!-- /.audience_percent -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_bar"><div class="audience_bar-line" style="width: 23%;"></div></div><!-- /.audience_line -->
                <div class="audience_percent">23%</div><!-- /.audience_percent -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_bar"><div class="audience_bar-line" style="width: 17%;"></div></div><!-- /.audience_line -->
                <div class="audience_percent">17%</div><!-- /.audience_percent -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_bar"><div class="audience_bar-line" style="width: 3%;"></div></div><!-- /.audience_line -->
                <div class="audience_percent">3%</div><!-- /.audience_percent -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_bar"><div class="audience_bar-line" style="width: 4%;"></div></div><!-- /.audience_line -->
                <div class="audience_percent">4%</div><!-- /.audience_percent -->
              </div><!-- /.audience_item -->
            </div>
            <div class="audience_tree_age">
              <div class="audience_age">
                <div class="audience_age_item">0 - 17</div><!-- /.audience_age_item -->
                <div class="audience_age_item">18 - 24</div><!-- /.audience_age_item -->
                <div class="audience_age_item">25 - 34</div><!-- /.audience_age_item -->
                <div class="audience_age_item">35 - 44</div><!-- /.audience_age_item -->
                <div class="audience_age_item">> 45</div><!-- /.audience_age_item -->
              </div>
            </div>
            <div class="audience_tree_man">
              <div class="audience_item">
                <div class="audience_percent">6%</div><!-- /.audience_percent -->
                <div class="audience_bar"><div class="audience_bar-line" style="width: 6%;"></div></div><!-- /.audience_line -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_percent">20%</div><!-- /.audience_percent -->
                <div class="audience_bar"><div class="audience_bar-line" style="width: 20%;"></div></div><!-- /.audience_line -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_percent">20%</div><!-- /.audience_percent -->
                <div class="audience_bar"><div class="audience_bar-line" style="width: 20%;"></div></div><!-- /.audience_line -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_percent">2%</div><!-- /.audience_percent -->
                <div class="audience_bar"><div class="audience_bar-line" style="width: 2%;"></div></div><!-- /.audience_line -->
              </div><!-- /.audience_item -->
              <div class="audience_item">
                <div class="audience_percent">4%</div><!-- /.audience_percent -->
                <div class="audience_bar"><div class="audience_bar-line" style="width: 4%;"></div></div><!-- /.audience_line -->
              </div><!-- /.audience_item -->
            </div>
          </div>
        </div>
      </div><!-- /.graphics_content -->
      <div class="graphics_headline">
        <h3 class="h3">Рост подписчиков</h3>
      </div><!-- /.graphics_headline -->
      <div class="graphics_content">
        <div class="graphic" id="channel-subscribers"></div>
      </div><!-- /.graphics_content -->
      <div class="graphics_headline">
        <h3 class="h3">Сумма просмотров видео</h3>
      </div><!-- /.graphics_headline -->
      <div class="graphics_content">
        <div class="graphic" id="channel-views"></div>
      </div><!-- /.graphics_content -->
    </div><!-- /.graphics_wrap -->
  </div><!-- /.container -->
</div><!-- /.graphics -->
