button[disabled=disabled],
button:disabled,
.btn:disabled,
.btn.disabled {
  cursor: not-allowed;
  //pointer-events: none;
  color: rgb(173, 177, 185);
  background-color: rgb(247, 247, 248);
  border-color: rgb(214, 218, 221);
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 13px 26px 12px 26px;
  color: rgb(255, 255, 255);
  font-family: $RobotoontFamily;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all .2s ease;
  vertical-align: middle;
  position: relative;
  overflow: hidden;

  &-green {
    background-color: rgb(48, 175, 11);

    &:hover,
    &.hover {
      background-color: rgb(49, 197, 9);
      border-color: transparent;
      color: #fff;
    }

    &:focus,
    &.focus {
      background-color: rgb(30, 155, 0);
      border-color: rgb(30, 155, 0);
      color: #fff;
    }

    &[disabled=disabled],
    &:disabled,
    &:disabled,
    &.disabled {
      color: rgb(255, 255, 255);
      background-color: rgb(214, 217, 220);
      border-color: rgb(214, 217, 220);
    }
  }

  &-green-site {
    background-color: #00b000;
    padding: 11px 24px 10px 24px;

    &:hover,
    &.hover {
      background-color: rgb(49, 197, 9);
      border-color: transparent;
      color: #fff;
    }

    &:focus,
    &.focus {
      background-color: rgb(30, 155, 0);
      border-color: rgb(30, 155, 0);
      color: #fff;
    }

    &[disabled=disabled],
    &:disabled,
    &:disabled,
    &.disabled {
      color: rgb(255, 255, 255);
      background-color: rgb(214, 217, 220);
      border-color: rgb(214, 217, 220);
    }
  }

  &-red {
    background-color: transparent;
    border-color: rgb(234, 12, 18);
    color: rgb(0, 0, 0);
    border-radius: 20px;

    &:hover,
    &.hover {
      background-color: rgb(234, 12, 18);
      border-color: rgb(234, 12, 18);
      color: #fff;
    }

    &:focus,
    &.focus {
      background-color: rgb(185, 10, 14);
      border-color: rgb(185, 10, 14);
      color: #fff;
    }

    &[disabled=disabled],
    &:disabled,
    &:disabled,
    &.disabled {
      color: rgb(255, 255, 255);
      background-color: rgb(214, 217, 220);
      border-color: rgb(214, 217, 220);
    }
  }

  &-light {
    border-color: #ebf1f2;
    color: #909a9e;

    &:hover,
    &.hover {
      border-color: rgb(173, 177, 185);
      color: rgb(0, 0, 0);
    }

    &:focus,
    &.focus {
      background-color: rgb(247, 247, 248);
      border-color: rgb(120, 122, 128);
      color: rgb(0, 0, 0);
    }

    &[disabled=disabled],
    &:disabled,
    &:disabled,
    &.disabled {
      color: rgb(173, 177, 185);
      background-color: rgb(247, 247, 248);
      border-color: rgb(214, 218, 221);
    }
  }

  &-outline {
    border-color: rgb(173, 177, 185);
    color: rgb(0, 0, 0);

    &:hover,
    &.hover {
      border-color: rgb(120, 122, 128);
      color: rgb(0, 0, 0);
    }

    &:focus,
    &.focus {
      background-color: rgb(247, 247, 248);
      border-color: rgb(120, 122, 128);
      color: rgb(0, 0, 0);
    }

    &[disabled=disabled],
    &:disabled,
    &:disabled,
    &.disabled {
      color: rgb(173, 177, 185);
      background-color: rgb(247, 247, 248);
      border-color: rgb(214, 218, 221);
    }

    &.dark {
      background-color: #262d30;
      border-color: #2f383e;
      color: #587481;

      &:hover,
      &.hover {
        background-color: rgb(49, 197, 9);
        border-color: transparent;
        color: #fff;
      }

      &:focus,
      &.focus {
        background-color: rgb(30, 155, 0);
        border-color: rgb(30, 155, 0);
      }
    }
  }

  &-white {
    background-color: rgb(255, 255, 255);
    color: rgb(38, 45, 48);
    border-color: rgb(173, 177, 185);

    &:hover,
    &.hover {
      background-color: rgb(49, 197, 9);
      border-color: transparent;
      color: #fff;
    }

    &:focus,
    &.focus {
      background-color: rgb(30, 155, 0);
      border-color: rgb(30, 155, 0);
      color: #fff;
    }
  }

  &-outline-green {
    border-color: rgb(49, 197, 9);
    color: #000;

    &:hover,
    &.hover {
      background-color: rgb(49, 197, 9);
      border-color: transparent;
      color: #fff;
    }

    &:focus,
    &.focus {
      background-color: rgb(30, 155, 0);
      border-color: rgb(30, 155, 0);
      color: #fff;
    }

    &[disabled=disabled],
    &:disabled,
    &:disabled,
    &.disabled {
      color: rgb(255, 255, 255);
      background-color: rgb(214, 217, 220);
      border-color: rgb(214, 217, 220);
    }
  }

  &-mini {
    padding: 9px 20px 8px 19px;
    font-size: 12px;
  }

  &-large {
    padding-left: 50px;
    padding-right: 50px;
  }
}
