.icon {
  position: relative;
  display: inline-block;
  transition: all .3s ease;

  &-eye {
    @include size(14px, 12px);
    background-image: svg-load('eye.svg', fill=#e4e8eb);

    &.gray {
      background-image: svg-load('eye.svg', fill=#587481);
    }
  }

  &-play-in-circle {
    @include size(20px);
    background-image: svg-load('play-in-circle.svg', fill=#ffffff);
  }

  &-verified {
    @include size(20px);
    background-image: svg-load('verified-icon.svg', fill=#30AF0B);
  }

  &-check {
    @include size(12px, 8px);
    background-image: svg-load('check.svg', fill=#30af0b);
  }

  &-add {
    @include size(18px);
    background-image: svg-load('add.svg', fill=#c1c7cb);
    top: 5px;
  }

  &-plus {
    @include size(14px);
    background-image: svg-load('plus.svg');
  }

  &-minus {
    @include size(14px, 2px);
    background-image: svg-load('minus.svg');
    top: -4px;
  }
}
