<div class="formats">
  <div class="container">
    <div class="formats_wrap">
      <div class="formats_headline">
        <h2 class="h2">Рекламные форматы и форматы сотрудничества</h2>
        <p>Вы выбираете подходящий формат и всё будет дальше очень круто. Готовы, котаны?</p>
      </div>
      <div class="formats_list">
        <div class="format">
          <div class="format-box">

            <div class="format-body">
              <div class="format-name">
                <h3 class="h3">Упоминание в ролике</h3>
              </div><!-- /.format-name -->
              <div class="format-info">
                <p>Вы можете оформить запрос на нестандартное размещение рекламы.</p>
              </div><!-- /.format-info -->
            </div><!-- /.format-body -->

            <div class="format-footer">
              <div class="format-price">57 500<ins class="rub">Р</ins></div><!-- /.format-cost -->
              <div class="format-actions">
                <a href="" class="btn btn-outline-green btn-large">Заказть</a>
              </div><!-- /.format-actions -->
            </div><!-- /.format-footer -->

          </div><!-- /.format-box -->
        </div><!-- /.format -->

        <div class="format">
          <div class="format-box">

            <div class="format-body">
              <div class="format-name">
                <h3 class="h3">Проморолик</h3>
              </div><!-- /.format-name -->
              <div class="format-info">
                <p>Вы можете оформить запрос на нестандартное размещение рекламы.</p>
              </div><!-- /.format-info -->
            </div><!-- /.format-body -->

            <div class="format-footer">
              <div class="format-price">57 500<ins class="rub">Р</ins></div><!-- /.format-cost -->
              <div class="format-actions">
                <a href="" class="btn btn-green btn-large">Заказть</a>
              </div><!-- /.format-actions -->
            </div><!-- /.format-footer -->

          </div><!-- /.format-box -->
        </div><!-- /.format -->

        <div class="format">
          <div class="format-box">

            <div class="format-body">
              <div class="format-name">
                <h3 class="h3">Предложить свой вариант</h3>
              </div><!-- /.format-name -->
              <div class="format-info">
                <p>Вы можете оформить запрос на нестандартное размещение рекламы.</p>
              </div><!-- /.format-info -->
            </div><!-- /.format-body -->

            <div class="format-footer">
              <div class="format-price">57 500<ins class="rub">Р</ins></div><!-- /.format-cost -->
              <div class="format-actions">
                <a href="" class="btn btn-outline-green btn-large">Предложить</a>
              </div><!-- /.format-actions -->
            </div><!-- /.format-footer -->

          </div><!-- /.format-box -->
        </div><!-- /.format -->
      </div>
    </div>
  </div>
</div>
