<div class="statistics" id="statistics">
  <div class="container">
    <div class="statistics_wrap">
      <div class="statistics_video">
        <div class="big-video_wrap">
          <div class="big-video">
            <div class="video-container">
            <iframe width="100%" height="230" src="https://www.youtube.com/embed/ByO-zliOQJ0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div><!-- /.big-video -->
          <div class="big-video_name">Лос Анджелес - Venice Beach Пэк. Часть вторая.</div>
        </div><!-- /.big-video -->
      </div><!-- /.statistics_video -->
      <div class="statistics_counters">
        <div class="channel-counters">

          <div class="channel-counter">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Просмотры</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">3 490</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Комментарии</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">12</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Переодичность</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">2 недели</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Лайки-лукасы</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">341</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter green">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Вовлечённость</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">12%</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Дата</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">12.01.1011</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

        </div><!-- /.channel-counters -->
      </div><!-- /.statistics_counters -->
    </div><!-- /.statistics_wrap -->
  </div><!-- /.statistics_wrap -->
</div><!-- /.statistics -->
