<div class="statistics" id="statistics">
  <div class="container">
    <div class="statistics_wrap">
      <div class="statistics_video">
        <a href="https://www.youtube.com/watch?v=ByO-zliOQJ0" class="big-video-link youtube-link">
          <div class="big-video">
            <div class="big-video_preview">
              <div class="big-video_preview-box">
                <img src="https://img.youtube.com/vi/ByO-zliOQJ0/maxresdefault.jpg" alt="Лос Анджелес - Venice Beach Пэк. Часть вторая">
              </div><!-- /.big-video_preview-box -->
              <div class="big-video_preview-bg">
                <div class="big-video_play">
                  <div class="play-icon">
                    <span><i class="icon icon-play-in-circle"></i></span>
                  </div><!-- /.play-icon -->
                </div><!-- /.big-video_play -->
              </div><!-- /.big-video_preview -->
            </div><!-- /.big-video -->
            <div class="big-video_name">
              <h4 class="h4">Лос Анджелес - Venice Beach Пэк. Часть вторая.</h4>
            </div>
          </div><!-- /.big-video_wrap -->
        </a>
      </div><!-- /.statistics_video -->
      <div class="statistics_counters emerge" data-expose="true">
        <div class="channel-counters">

          <div class="channel-counter emerge" data-effect="slide" title="Суммарное количество просмотров всех видео на канале">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Просмотры</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">227 086 336</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter emerge" data-effect="slide" title="Суммарное количество комментариев на канале">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Комментарии</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">0</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter emerge" data-effect="slide" title="Как часто размещаются видео на канале">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Периодичность выхода</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">2 недели</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter emerge" data-effect="slide" title="Суммарное количество лайков и дизлайков на канале">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Лайки / дизлайки</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">0 / 0</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter green emerge" data-effect="slide" title="Активность аудитории видеоблогера">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Вовлечённость</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">5.6%</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter emerge" data-effect="slide" title="Когда был создан канал">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Дата создания</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">Октябрь 2009</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter emerge" data-effect="slide" title="">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Загружено видео</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">851</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter emerge" data-effect="slide" title="">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Средняя&nbsp;продолжительность</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">&asymp;6,5 минут</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter emerge" data-effect="slide" title="">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Прогноз просмотров</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">8...15&nbsp;000</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

        </div><!-- /.channel-counters -->
      </div><!-- /.statistics_counters -->
    </div><!-- /.statistics_wrap -->
  </div><!-- /.statistics_wrap -->
</div><!-- /.statistics -->
