<div class="statistics" id="statistics">
  <div class="container">
    <div class="statistics_wrap">
      <div class="statistics_video">
        <a href="https://www.youtube.com/watch?v=ByO-zliOQJ0" class="big-video-link youtube-link">
          <div class="big-video">
            <div class="big-video_preview">
              <div class="big-video_preview-box">
                <img src="https://img.youtube.com/vi/ByO-zliOQJ0/maxresdefault.jpg" alt="Лос Анджелес - Venice Beach Пэк. Часть вторая">
              </div><!-- /.big-video_preview-box -->
              <div class="big-video_preview-bg">
                <div class="big-video_play">
                  <div class="play-icon">
                    <span><i class="icon icon-play-in-circle"></i></span>
                  </div><!-- /.play-icon -->
                </div><!-- /.big-video_play -->
              </div><!-- /.big-video_preview -->
            </div><!-- /.big-video -->
            <div class="big-video_name">
              <h4 class="h4">Лос Анджелес - Venice Beach Пэк. Часть вторая.</h4>
            </div>
          </div><!-- /.big-video_wrap -->
        </a>
      </div><!-- /.statistics_video -->
      <div class="statistics_counters emerge" data-expose="true">
        <div class="channel-counters">

          <div class="channel-counter emerge" data-effect="slide" data-up="50px">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Просмотры</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">3 490</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter emerge" data-effect="slide" data-up="60px">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Комментарии</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">12</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter emerge" data-effect="slide" data-up="30px">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Переодичность</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">2 недели</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter emerge" data-effect="slide" data-up="90px">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Лайки-лукасы</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">341</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter green emerge" data-effect="slide" data-up="70px">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Вовлечённость</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">12%</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

          <div class="channel-counter emerge" data-effect="slide" data-up="80px">
            <div class="channel-counter_box">
              <div class="channel-counter_text">Дата</div><!-- /.channel-counter_text -->
              <div class="channel-counter_value">12.01.1011</div><!-- /.channel-counter_value -->
            </div><!-- /.channel-counter_box -->
          </div><!-- /.channel-counter -->

        </div><!-- /.channel-counters -->
      </div><!-- /.statistics_counters -->
    </div><!-- /.statistics_wrap -->
  </div><!-- /.statistics_wrap -->
</div><!-- /.statistics -->
