<div class="description_wrap">
  <div class="container">
    <div class="description_info">
      <h1 class="h1">Реклама на канале ДНЕВНИК ХАЧА</h1>
      <div class="description_content">
        <div class="description_header"><h2 class="h2">Описание канала</h2></div><!-- /.description_header -->
        <div class="description_text">
          <p>Я хач Родился и увы вырос Мне 30 лет Пишу книги Люблю шаурму Веду свой канал на ютубе С недавних пор начал вести свой твич По вопросам рекламы и сотрудничества пишите на почту</p>
          <p>Я хач Родился и увы вырос Мне 30 лет Пишу книги Люблю шаурму Веду свой канал на ютубе С недавних пор начал вести свой твич По вопросам рекламы и сотрудничества пишите на почту</p>
        </div><!-- /.description_text -->
      </div>
    </div>
  </div><!-- /.container -->
</div><!-- /.description_wrap -->
