<div class="description_wrap" id="description">
  <div class="container">
    <div class="description_info">
      <h1 class="h1">Реклама на канале ДНЕВНИК ХАЧА</h1>
      <div class="description_content">
        <div class="description_header"><h2 class="h2">Описание канала</h2></div><!-- /.description_header -->
        <div class="description_text">
          <p>Я хач Родился и увы вырос Мне 30 лет Пишу книги Люблю шаурму Веду свой канал на ютубе С недавних пор начал вести свой твич По вопросам рекламы и сотрудничества пишите на почту</p>
          <p>Сострадать — это чудесно. Это то, что чувствуешь, глядя на раздавленную гусеницу. Возвышающее чувство. Можно размягчиться и раздаться вширь... понимаете, все равно что снять с себя корсет... Сострадание — великая добродетель. Оно оправдывает страдание. В этом мире надо страдать, ибо как иначе стать добродетельным и испытать сострадание?.. О, оно имеет свою противоположность, но такую суровую и требовательную... Восхищение.</p>
          <div class="likely">
            <div class="vkontakte">Поделиться</div>
            <div class="twitter">Твитнуть</div>
            <div class="facebook">Поделиться</div>
            <div class="gplus">Плюсануть</div>
            <div class="odnoklassniki">Класснуть</div>
            <div class="whatsapp">Вотсапнуть</div>
            <div class="telegram">Отправить</div>
          </div>
        </div><!-- /.description_text -->
      </div>
    </div>
  </div><!-- /.container -->
</div><!-- /.description_wrap -->
