<div class="another">
  <div class="container">

    <div class="another_headline">
      <h3 class="h3">Вы посмотрели профиль одного блогера, но не посмотрели всех</h3>
    </div><!-- /.another_headline -->

    <div class="another_list">

      <div class="another_item">
        <div class="another_box">

          <div class="channel-passport">
            <div class="channel-passport_avka">
              <div class="avka-img"><img src="https://yt3.ggpht.com/-HzlTfgPLl6U/AAAAAAAAAAI/AAAAAAAAAAA/2aFSThc1OMM/s288-mo-c-c0xffffffff-rj-k-no/photo.jpg" alt=""></div><!-- /.avka-img -->
            </div><!-- /.channel-passport_avka -->
            <div class="channel-passport_info">
              <div class="channel-passport_name">ДНЕВНИК ХАЧА</div><!-- /.channel-passport_name -->
              <div class="channel-passport_category">Категория: <span>Другое</span></div><!-- /.channel-passport_category -->
            </div><!-- /.channel-passport_info -->
          </div><!-- /.channel-passport -->

          <div class="channel-stats">
            <div class="channel-info">
              <div class="channel-info_text">Подписчиков</div><!-- /.channel-info_text -->
              <div class="channel-info_value">2 606 769</div><!-- /.channel-info_value -->
            </div><!-- /.channel-info -->
            <div class="channel-info">
              <div class="channel-info_text">Просмотров</div><!-- /.channel-info_text -->
              <div class="channel-info_value">447 849 635</div><!-- /.channel-info_value -->
            </div><!-- /.channel-info -->
            <div class="channel-info">
              <div class="channel-info_text">Стоимость размещения</div><!-- /.channel-info_text -->
              <div class="channel-info_value big">от 230 000<ins class="rub">Р</ins></div><!-- /.channel-info_value -->
            </div><!-- /.channel-info -->
          </div><!-- /.channel-stats -->

        </div><!-- /.another_box -->
      </div><!-- /.another_item -->

      <div class="another_item">
        <div class="another_box">

          <div class="channel-passport">
            <div class="channel-passport_avka">
              <div class="avka-img"><img src="https://yt3.ggpht.com/-unmlbuKol80/AAAAAAAAAAI/AAAAAAAAAAA/m4lpU_eEvcY/s88-c-k-no-mo-rj-c0xffffff/photo.jpg" alt=""></div><!-- /.avka-img -->
            </div><!-- /.channel-passport_avka -->
            <div class="channel-passport_info">
              <div class="channel-passport_name">Маша и Медведь</div><!-- /.channel-passport_name -->
              <div class="channel-passport_category">Категория: <span>Мультфильмы</span></div><!-- /.channel-passport_category -->
            </div><!-- /.channel-passport_info -->
          </div><!-- /.channel-passport -->

          <div class="channel-stats">
            <div class="channel-info">
              <div class="channel-info_text">Подписчиков</div><!-- /.channel-info_text -->
              <div class="channel-info_value">13 934 745</div><!-- /.channel-info_value -->
            </div><!-- /.channel-info -->
            <div class="channel-info">
              <div class="channel-info_text">Просмотров</div><!-- /.channel-info_text -->
              <div class="channel-info_value">14 894 588 766</div><!-- /.channel-info_value -->
            </div><!-- /.channel-info -->
            <div class="channel-info">
              <div class="channel-info_text">Стоимость размещения</div><!-- /.channel-info_text -->
              <div class="channel-info_value big">от 12 000<ins class="rub">Р</ins></div><!-- /.channel-info_value -->
            </div><!-- /.channel-info -->
          </div><!-- /.channel-stats -->

        </div><!-- /.another_box -->
      </div><!-- /.another_item -->

      <div class="another_item">
        <div class="another_box">

          <div class="channel-passport">
            <div class="channel-passport_avka">
              <div class="avka-img"><img src="https://yt3.ggpht.com/-TNwpqgDIfzc/AAAAAAAAAAI/AAAAAAAAAAA/-psdAZhQ5UM/s88-c-k-no-mo-rj-c0xffffff/photo.jpg" alt=""></div><!-- /.avka-img -->
            </div><!-- /.channel-passport_avka -->
            <div class="channel-passport_info">
              <div class="channel-passport_name">Сыендук</div><!-- /.channel-passport_name -->
              <div class="channel-passport_category">Категория: <span>Развлечения</span></div><!-- /.channel-passport_category -->
            </div><!-- /.channel-passport_info -->
          </div><!-- /.channel-passport -->

          <div class="channel-stats">
            <div class="channel-info">
              <div class="channel-info_text">Подписчиков</div><!-- /.channel-info_text -->
              <div class="channel-info_value">3 700 377</div><!-- /.channel-info_value -->
            </div><!-- /.channel-info -->
            <div class="channel-info">
              <div class="channel-info_text">Просмотров</div><!-- /.channel-info_text -->
              <div class="channel-info_value">721 352 830</div><!-- /.channel-info_value -->
            </div><!-- /.channel-info -->
            <div class="channel-info">
              <div class="channel-info_text">Стоимость размещения</div><!-- /.channel-info_text -->
              <div class="channel-info_value big">от 12 000<ins class="rub">Р</ins></div><!-- /.channel-info_value -->
            </div><!-- /.channel-info -->
          </div><!-- /.channel-stats -->

        </div><!-- /.another_box -->
      </div><!-- /.another_item -->

      <div class="another_item">
        <div class="another_box">

          <div class="channel-passport">
            <div class="channel-passport_avka">
              <div class="avka-img"><img src="https://yt3.ggpht.com/-99k1iFzMQpo/AAAAAAAAAAI/AAAAAAAAAAA/II1li7wDfWI/s88-c-k-no-mo-rj-c0xffffff/photo.jpg" alt=""></div><!-- /.avka-img -->
            </div><!-- /.channel-passport_avka -->
            <div class="channel-passport_info">
              <div class="channel-passport_name">Барбоскины</div><!-- /.channel-passport_name -->
              <div class="channel-passport_category">Категория: <span>Фильмы и анимация</span></div><!-- /.channel-passport_category -->
            </div><!-- /.channel-passport_info -->
          </div><!-- /.channel-passport -->

          <div class="channel-stats">
            <div class="channel-info">
              <div class="channel-info_text">Подписчиков</div><!-- /.channel-info_text -->
              <div class="channel-info_value">3 307 544</div><!-- /.channel-info_value -->
            </div><!-- /.channel-info -->
            <div class="channel-info">
              <div class="channel-info_text">Просмотров</div><!-- /.channel-info_text -->
              <div class="channel-info_value">4 247 457 426</div><!-- /.channel-info_value -->
            </div><!-- /.channel-info -->
            <div class="channel-info">
              <div class="channel-info_text">Стоимость размещения</div><!-- /.channel-info_text -->
              <div class="channel-info_value big">от 12 000<ins class="rub">Р</ins></div><!-- /.channel-info_value -->
            </div><!-- /.channel-info -->
          </div><!-- /.channel-stats -->

        </div><!-- /.another_box -->
      </div><!-- /.another_item -->

    </div><!-- /.another_list -->

  </div><!-- /.container -->
</div><!-- /.another -->
